<a href="https://colab.research.google.com/github/RevazRevazashvili/TSU-python-labs/blob/main/Lab_8_DataBases_SQLite_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#მონაცემების შენახვა : რელაციური და არარელაციური ბაზები. მოდულები: sqlite3, MongoDB.

1. https://www.tutorialspoint.com/sqlite/sqlite_python.htm
2. https://docs.python.org/3/library/sqlite3.html

SQLite ბაზა

In [ ]:
"""
SQLite წარმოადგენს C ენაზე შემუშავებულ მონაცემთა შენახვის რელაციურ მონაცემთა ბაზის
პროგრამას, რომელიც არ საჭიროებს გამოყოფილ სერვერულ პროცესს და იძლევა მონაცემთა ბაზის
მიმართ SQL (structured query language) ენის ბრძანებების გამოყენების საშუალებას. ის მსგავსი
პროგრამებისგან განსხვავებით არ ტვირთავს ოპერაციულ სისტემას და შეიძლება გამოყენებული
იქნას პროგრამის ლოკალური მონაცემების შესანახად. SQLite -ის მეშვეობით შესაძლებელია
დაპროექტირებული იქნას მასშტაბური პროგრამული უზრუნველყოფის მონაცემთა ბაზა, რომელიც
მოგვიანებით გადატანილი იქნება მრავალფუნქციურ მონაცემთა ბაზაში, როგორიცაა მაგალითად,
PostgreSQL ან Oracle.
"""

ბაზასთან დაკავშირება

In [2]:
#ბაზასთან სამუშაოდ და ფუნქციონალის გამოსაყენებლად Python-ში გვაქვს sqlite3 მოდული

import sqlite3

In [3]:
# რადგანაც შესაბამის ბაზასთან დაკავშირება შეიძლება დასრულდეს წარუმატებლად, ამიტომ სასურველია ცალკე ინსტრუქციით მოხდეს პროგრამული კოდისთვის sqlite3 მოდულში
#განსაზღვრული Error ობიექტის მიერთება ინსტრუქციით:

from sqlite3 import Error, connect

In [ ]:
"""
მონაცემთა ბაზის ფაილთან დაკავშირება შესაძლებელია connect() მეთოდის გამოყენებით.
შევნიშნოთ, რომ თუ ფაილური სისტემაში მითითებულ მისამართზე შესაბამისი მონაცემთა ბაზის
ფაილი არ არსებობს, მაშინ ის შეიქმნება ავტომატურად.
"""

In [77]:
# ბაზასთან დაკავშირების შესაბამის კოდს ექნება სახე:
import os

db_name = os.getcwd() + '/' + 'sq2.db' # განვსაზღვროთ ბაზის სახელი
conn = None # განვსაზღვროთ ცვლადი ბაზასთან დაკავშირებისთვის

try:
  conn = sqlite3.connect(db_name) # დავუკავშირდეთ ბაზას
  print(f'{db_name} ბაზის ფაილთან დაკავშირება დასრულდა წარმატებით!')
except Error as err:
  print(f'ბაზასთან დაკავშირებისას დაფიქსირდა შეცდომა: {err}')
# finally ბლოკის გამოყენება სასურველია იმ შემთხვევაში თუ ბაზის ფაილთან
# საქმიანობა უკვე დამთავრებულია და საჭიროა მასთან კავშირის გაწყვეტა
finally:
  if conn: # თუ ბაზასთან კავშირი ჯერ კიდევ არსებობს
    conn.close() # გავწყვიტოთ კავშირი ბაზასთან

/content/sq2.db ბაზის ფაილთან დაკავშირება დასრულდა წარმატებით!

In [ ]:
"""
ბაზასთან დაკავშირების შემდეგ საჭიროა მის მიმართ გარკვეული ინსტრუქციის შესაბამისი
მოქმედების შესასრულებელი ბრძანების გადაწოდება. ამის გაკეთების საშუალებას იძლევა Cursor
ობიექტი, რომელიც უნდა შეიქმნას ბაზისთვის ბრძანების გადაწოდებამდე.
"""

In [5]:
# Cursor ობიექტის შექმნა შესაძლებელია შემდეგი ბრძანებით:
db_name = os.getcwd() + '/' + 'sq2.db' # განვსაზღვროთ ბაზის სახელი

conn = sqlite3.connect(db_name)
curs = conn.cursor()

In [ ]:
"""
Cursor ობიექტის შექმნის შემდეგ შესაძლებელია ბაზის მიმართ შევასრულოთ სასურველი
ბრძანებები მისთვის განსაზღვრული execute() მეთოდის მეშვეობით.
"""

In [6]:
# ცხრილის შექმნა

comm = """
  CREATE TABLE IF NOT EXISTS Student (
  Id integer primary key,
  LName text,
  FName text,
  Gender text
  )
 """
curs.execute(comm)

In [10]:
comm = """ select * from Student """
# Stud_List = curs.execute(comm).fetchall()
Stud_List = curs.execute(comm).fetchone()
Stud_List

In [ ]:
"""
ცხრილის შექმნის შემდეგ საჭიროა მასში მონაცემების შეტანა. ცხრილის მონაცემებით შევსება
შესაძლებელია INSERT INTO ბრძანების გამოყენებით.
"""

In [ ]:
comm = """
  insert into Student
  (Id, LName, FName, Gender)
  values
  (1, "ანთიძე", "ანა", "მდედრობითი")
 """
curs.execute(comm)

In [17]:
comm = """ select * from Student """
# Stud_List = curs.execute(comm).fetchall()
Stud_List = curs.execute(comm).fetchone()
Stud_List

(1, 'ანთიძე', 'ანა', 'მდედრობითი')

In [ ]:
"""
შევნიშნოთ, რომ INSERT INTO ბრძანების გამოყენებით შესაძლებელია ცხრილში
ერთდროულად რამდენიმე ჩანაწერის გაკეთება, თუ value გასაღები სიტყვის შემდეგ ჩამოვთვლით
შესაბამის მონაცემებს. ასევე, თუ ცხრილში მონაცემები შეგვაქვს ყველა ველის გათვალისწინებით,
მაშინ მოყვანილ ბრძანებაში ველების დასახელებების გამოტოვება არის შესაძლებელი.
"""

In [19]:
comm = """
 insert into Student
 values
 (2, "ბრეგვაძე", "გიორგი", "მამრობითი"),
 (3, "მალაზონია", "შოთა", "მამრობითი")
 """
curs.execute(comm)

In [21]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი'),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი'),
 (3, 'მალაზონია', 'შოთა', 'მამრობითი')]

In [ ]:
"""
იმ შემთხვევაში, თუ ვაპირებთ ცხრილის შევსებისას როლიმე ველის მნიშვნელობა
გამოვტოვოთ INSERT INTO ბრძანების გამოყენების შემდეგ უნდა ჩამოვთვალოთ დასახელებები იმ
ველებისა, რომელთა მონაცემების შეტანასაც ვაპირებთ.
"""

In [22]:
comm = """
 insert into Student
 (LName, FName, Gender)
 values
 ("წულაია", "ელენე", "მდედრობითი"),
 ("მენთეშაშვილი", "პავლე", "მამრობითი")
 """
curs.execute(comm)

In [23]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი'),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი'),
 (3, 'მალაზონია', 'შოთა', 'მამრობითი'),
 (4, 'წულაია', 'ელენე', 'მდედრობითი'),
 (5, 'მენთეშაშვილი', 'პავლე', 'მამრობითი')]

In [ ]:
"""
შევნიშნოთ, რომ რადგანაც Python ენის გამოყენებით შესაძლებელია ბაზასთან დაკავშირება და
ბაზის მიმართ შესაბამისი ბრძანებების გამოყენება, ამიტომ INSERT INTO ბრძანების გამოყენება
შესაძლებელია განსხვავებული ფორმითაც. კერძოდ, შესაბამისი ბრძანების გამოყენებისას ჩანაწერში
ველებზე მნიშვნელობების ნაცვლად გამოყენებული იქნას სიმბოლო ? (კითხვის ნიშანი), ხოლო
მოგვიანებით კი execute() მეთოდი გამოყენებული იქნას ორპარამეტრიანი ვარიანტით, რომლის
პირველი ბრძანება იქნება ბაზასთან მიმართვის ბრძანება, ხოლო მეორე კი ცხრილში ჩასაწერი
მნიშვნელობა.
"""

In [24]:
stud = ("მოსია", "იაკობ", "მამრობითი")
comm = """
 insert into Student
 (LName, FName, Gender)
 values
 (?, ?, ?)
 """
curs.execute(comm, stud)

In [25]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი'),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი'),
 (3, 'მალაზონია', 'შოთა', 'მამრობითი'),
 (4, 'წულაია', 'ელენე', 'მდედრობითი'),
 (5, 'მენთეშაშვილი', 'პავლე', 'მამრობითი'),
 (6, 'მოსია', 'იაკობ', 'მამრობითი')]

In [ ]:
"""
ჩანაწერის ასეთი სახით გაკეთების შესაძლებლობა იძლევა წინასწარ გამზადებული
სიმრავლის გამოყენებით ბაზაში დიდი რაოდენობით ჩანაწერის გაკეთების საშუალებას. ამ
შემთხვევაში ბაზაზე შესაბამისი ბრძანებით მიმართვისთვის execute() მეთოდის ნაცვლად ხდება
executemany() მეთოდის გამოყენება, რომელიც ღებულობს 2 პარამეტრს. პირველი პარამეტრით
ხდება ბაზის შესაბამისი ბრძანების მითითება, ხოლო მეორე პარამეტრით კი შესაბამისი სიმრავლის
მითითება.
"""

In [27]:
Stud_List = [
 ["ბერიანიძე", "გვანცა", "მდედრობითი"],
 ["ლაბაძე", "დავითი", "მამრობითი"],
 ["დალაქიშვილი", "თამარი", "მდედრობითი"],
 ["მოსია", "იაკობ", "მამრობითი"]
]
comm = """
 insert into Student
 (LName, FName, Gender)
 values
 (?,?,?)
 """
curs.executemany(comm, Stud_List)

In [28]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი'),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი'),
 (3, 'მალაზონია', 'შოთა', 'მამრობითი'),
 (4, 'წულაია', 'ელენე', 'მდედრობითი'),
 (5, 'მენთეშაშვილი', 'პავლე', 'მამრობითი'),
 (6, 'მოსია', 'იაკობ', 'მამრობითი'),
 (7, 'ბერიანიძე', 'გვანცა', 'მდედრობითი'),
 (8, 'ლაბაძე', 'დავითი', 'მამრობითი'),
 (9, 'დალაქიშვილი', 'თამარი', 'მდედრობითი'),
 (10, 'მოსია', 'იაკობ', 'მამრობითი'),
 (11, 'ბერიანიძე', 'გვანცა', 'მდედრობითი'),
 (12, 'ლაბაძე', 'დავითი', 'მამრობითი'),
 (13, 'დალაქიშვილი', 'თამარი', 'მდედრობითი'),
 (14, 'მოსია', 'იაკობ', 'მამრობითი')]

In [ ]:
"""
ცხრილის შექმნიდან გარკვეული პერიოდის გავლის შემდეგ შეიძლება აღმოჩნდეს, რომ
ცხრილში საჭიროა ახალი ველის დამატება. ამის გაკეთება შესაძლებელია ბრძანებით ALTER TABLE.
ALTER TABLE ბრძანების გამოყენებით ასევე შესაძლებელია ცხრილისთვის სახელის შეცვლა.
ბრძანების გამოყენებისას არსებობს გარკვეული შეზღუდვები, რომელთაგან ერთერთი
მდგომარეობს იმაში, რომ ALTER TABLE ბრძანების გამოყენებით არ უნდა მოხდეს ისეთი ველის
შექმნა, რომელიც გამოყენებული იქნება გასაღების როლში. შევნიშნოთ, რომ თუ ცხრილისთვის
ახალი ველის ჩამატების აუცილებლობის შემთხვევაში საჭიროა ასეთ ველს განესაზღვროს
მნიშვნელობა NOT NULL, მაშინ უნდა მოხდეს შესაბამისი ველისთვის ე.წ. გაჩუმებითი
მნიშვნელობის განსაზღვრა, რისი გაკეთებაც შესაძლებელია ბრძანებაში DEFAULT გასაღების სიტყვის
გამოყენებით.
"""

<sqlite3.Cursor object at 0x7dae2ef2e440>

In [ ]:
comm = """
 ALTER TABLE Student
 ADD COLUMN age integer default -1
 """
curs.execute(comm)

In [33]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი', -1),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი', -1),
 (3, 'მალაზონია', 'შოთა', 'მამრობითი', -1),
 (4, 'წულაია', 'ელენე', 'მდედრობითი', -1),
 (5, 'მენთეშაშვილი', 'პავლე', 'მამრობითი', -1),
 (6, 'მოსია', 'იაკობ', 'მამრობითი', -1),
 (7, 'ბერიანიძე', 'გვანცა', 'მდედრობითი', -1),
 (8, 'ლაბაძე', 'დავითი', 'მამრობითი', -1),
 (9, 'დალაქიშვილი', 'თამარი', 'მდედრობითი', -1),
 (10, 'მოსია', 'იაკობ', 'მამრობითი', -1),
 (11, 'ბერიანიძე', 'გვანცა', 'მდედრობითი', -1),
 (12, 'ლაბაძე', 'დავითი', 'მამრობითი', -1),
 (13, 'დალაქიშვილი', 'თამარი', 'მდედრობითი', -1),
 (14, 'მოსია', 'იაკობ', 'მამრობითი', -1)]

In [30]:
# ცხრილის სახელის შეცვლის კოდი

comm = """
 alter table Student
 rename to TSU_Student
 """
curs.execute(comm)

In [32]:
comm = """
alter table TSU_Student
rename to Student
"""
curs.execute(comm)

In [ ]:
"""
ბუნებრივია, რომ ცხრილში ახალი ველის ჩამატების შემთხვევაში აუცილებელი იქნება
შესაბამის ველზე მნიშვნელობის განახლება, ან ბაზის შევსებისას დაშვებული შეცდომის აღმოჩენის
შემთხვევაში საჭირო იქნება შესაბამისი ჩანაწერის განახლება. ბაზაში გაკეთებული ჩანაწერის
განახლების საშუალებას იძლევა ბრძანება UPDATE.
"""

In [35]:
comm = """
 UPDATE Student
 SET age = 20
 WHERE Id = 1
 """
curs.execute(comm)

In [36]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი', 20),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი', -1),
 (3, 'მალაზონია', 'შოთა', 'მამრობითი', -1),
 (4, 'წულაია', 'ელენე', 'მდედრობითი', -1),
 (5, 'მენთეშაშვილი', 'პავლე', 'მამრობითი', -1),
 (6, 'მოსია', 'იაკობ', 'მამრობითი', -1),
 (7, 'ბერიანიძე', 'გვანცა', 'მდედრობითი', -1),
 (8, 'ლაბაძე', 'დავითი', 'მამრობითი', -1),
 (9, 'დალაქიშვილი', 'თამარი', 'მდედრობითი', -1),
 (10, 'მოსია', 'იაკობ', 'მამრობითი', -1),
 (11, 'ბერიანიძე', 'გვანცა', 'მდედრობითი', -1),
 (12, 'ლაბაძე', 'დავითი', 'მამრობითი', -1),
 (13, 'დალაქიშვილი', 'თამარი', 'მდედრობითი', -1),
 (14, 'მოსია', 'იაკობ', 'მამრობითი', -1)]

In [ ]:
"""
დროთა განმავლობაში შესაძლებელია ბაზიდან საჭირო გახდეს არსებული ჩანაწერის ამოშლა.
ამის გაკეთება შესაძლებელია DELETE ბრძანების გამოყენებით. თუ ბრძანების გამოყენებისას არ
ხდება WHERE გასაღები სიტყვის გამოყენება, მაშინ ბაზის შესაბამისი ცხრილიდან იშლება ყველა
ჩანაწერი. WHERE გასაღები სიტყვის გამოყენების შემთხვევაში კი იშლება მითითებული პირობის
დამაკმაყოფილებელი ერთი ან ყველა ჩანაწერი.
"""

In [37]:
comm = """
 delete from Student
 where Id = 3
 """
curs.execute(comm)

In [38]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი', 20),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი', -1),
 (4, 'წულაია', 'ელენე', 'მდედრობითი', -1),
 (5, 'მენთეშაშვილი', 'პავლე', 'მამრობითი', -1),
 (6, 'მოსია', 'იაკობ', 'მამრობითი', -1),
 (7, 'ბერიანიძე', 'გვანცა', 'მდედრობითი', -1),
 (8, 'ლაბაძე', 'დავითი', 'მამრობითი', -1),
 (9, 'დალაქიშვილი', 'თამარი', 'მდედრობითი', -1),
 (10, 'მოსია', 'იაკობ', 'მამრობითი', -1),
 (11, 'ბერიანიძე', 'გვანცა', 'მდედრობითი', -1),
 (12, 'ლაბაძე', 'დავითი', 'მამრობითი', -1),
 (13, 'დალაქიშვილი', 'თამარი', 'მდედრობითი', -1),
 (14, 'მოსია', 'იაკობ', 'მამრობითი', -1)]

In [ ]:
"""
ბაზასთან მუშაობისას ხშირად საჭირო ხდება სხვადასხვა სახის მონაცემების მიღების აუცილებლობა.
ბაზიდან მონაცემების მიღება შესაძლებელია SELECT ბრძანების გამოყენებით. ბრძანების გამოყენებით
მიიღება ობიექტი, რომლის გამოყენებაც შეუძლებელია. გამოყენებადი მონაცემის მისაღებად საჭიროა
მიღებული ობიექტის მიმართ გამოვიყენოთ fetchall() მეთოდი, რომელიც ბაზის ჩანაწერებს აბრუნებს
list-ის სახით.
"""

In [ ]:
comm = """ select * from Student """
Stud_List = curs.execute(comm).fetchall()
Stud_List

[(1, 'ანთიძე', 'ანა', 'მდედრობითი', 20),
 (2, 'ბრეგვაძე', 'გიორგი', 'მამრობითი', -1),
 (4, 'წულაია', 'ელენე', 'მდედრობითი', -1),
 (5, 'მენთეშაშვილი', 'პავლე', 'მამრობითი', -1),
 (6, 'მოსია', 'იაკობ', 'მამრობითი', -1),
 (7, 'ბერიანიძე', 'გვანცა', 'მდედრობითი', -1),
 (8, 'ლაბაძე', 'დავითი', 'მამრობითი', -1),
 (9, 'დალაქიშვილი', 'თამარი', 'მდედრობითი', -1),
 (10, 'მოსია', 'იაკობ', 'მამრობითი', -1)]

In [ ]:
"""
ცხრილში განხორციელებული ყოველი ცვლილება უნდა იქნას შენახული. ამის გაკეთება
შესაძლებელია ბაზათან დაკავშირების ობიექტისთვის commit() მეთოდის გამოყენებით.
"""

In [39]:
conn.commit()

In [ ]:
"""
მოყვანილ ფრაგმენტში სიმბოლო * ხაზს უსვამს, რომ ხდება ბაზიდან ყველა ველის მნიშვნელობის
ამოღება. თუ ბაზიდან საჭიროა მხოლოდ ზოგიერთი ველის მნიშვნელობის ამოღება, მაშინ
სიმბოლო * -ის გამოყენების ნაცვლად უნდა მოხდეს იმ ველების ჩამოთვლა, რომელი ველის
მნიშვნელობების ამოღებასაც ვაპირებთ.
"""

In [41]:
comm = """
select
LName,
FName
from Student
"""
Stud_List = curs.execute(comm).fetchall()
Stud_List

[('ანთიძე', 'ანა'),
 ('ბრეგვაძე', 'გიორგი'),
 ('წულაია', 'ელენე'),
 ('მენთეშაშვილი', 'პავლე'),
 ('მოსია', 'იაკობ'),
 ('ბერიანიძე', 'გვანცა'),
 ('ლაბაძე', 'დავითი'),
 ('დალაქიშვილი', 'თამარი'),
 ('მოსია', 'იაკობ'),
 ('ბერიანიძე', 'გვანცა'),
 ('ლაბაძე', 'დავითი'),
 ('დალაქიშვილი', 'თამარი'),
 ('მოსია', 'იაკობ')]

In [ ]:
"""
თუ დამატებით საჭიროა ბაზიდან ამოღებული მონაცემი დალაგებული იყოს გვარის ზრდადი
(კლებადი) მიმდევრობით, მაშინ ამის გაკეთება შესაძლებელია ბრძანებით ORDER BY, რომელსაც
შესაბამისად უნდა მიეთითოს პარამეტრი ASC (DESC).
"""

In [43]:
comm = """
select
LName,
FName
from Student
order by
LName
ASC
"""
Stud_List = curs.execute(comm).fetchall()
Stud_List

[('ანთიძე', 'ანა'),
 ('ბერიანიძე', 'გვანცა'),
 ('ბერიანიძე', 'გვანცა'),
 ('ბრეგვაძე', 'გიორგი'),
 ('დალაქიშვილი', 'თამარი'),
 ('დალაქიშვილი', 'თამარი'),
 ('ლაბაძე', 'დავითი'),
 ('ლაბაძე', 'დავითი'),
 ('მენთეშაშვილი', 'პავლე'),
 ('მოსია', 'იაკობ'),
 ('მოსია', 'იაკობ'),
 ('მოსია', 'იაკობ'),
 ('წულაია', 'ელენე')]

In [ ]:
"""
თუ ბაზასთან მუშაობისას საჭირო გახდა ერთი ან რამდენიმე ცხრილი წაშლა, მაშინ ამის
გაკეთება შეიძლება ბრძანებით DROP TABLE. ბრძანების გამოყენების შემთხვევაში თუ ბაზაში
შესაბამისი ცხრილი არ არსებობს წარმოიშობა შეცდომა. შეცდომის თავიდან აცილების მიზნით
შესაძლებელია წინასწარ მოხდეს შემოწმება ცხრილის არსებობაზე და მხოლოდ ამის შემდეგ
მოხდეს მისი წაშლა.
"""

In [ ]:
comm = """
drop table if exists Student
"""
curs.execute(comm)

In [70]:
# Create the database
!sqlite3 mydb.db

# Connect to the database
conne = sqlite3.connect("sample_data/mydb.db")

# Create the cursor
cur = conne.cursor()

comm = """
drop table if exists person
"""

cur.execute(comm)
# Create the table
comm = """
create table person(
  ID INTEGER PRIMARY KEY AUTOINCREMENT,
  LastName varchar(255) NOT NULL,
  FirstName varchar(255),
  Age int
)
"""
cur.execute(comm)

# Commit the changes
conne.commit()

/bin/bash: line 1: sqlite3: command not found

In [55]:
LNames = ['აბაშიძე', 'გიგაური', 'არჩვაძე', 'ახალაია', 'ბაძაღუა', 'ბერიანიძე',
'ბერიშვილი', 'გვენცაძე', 'დალაქიშვილი', 'ანთიძე', 'გიორგაძე', 'გოგალაძე', 'გოცირიძე',
'ვარდიძე', 'ზარანდია', 'თადუმაძე', 'ლაბაძე', 'კვარაცხელია', 'კუსრაძე', 'კვესელავა',
'კაპანაძე', 'კასრაძე', 'კვინიკაძე']
# print(len(LNames))
# გოგონების სახელების სიმრავლე: 40 ჩანაწერი
GNames = ['ანა', 'ანუკი', 'ბარბარე', 'გვანცა', 'დიანა', 'ეკა', 'ელენე', 'ვერონიკა',
'ვიქტორია', 'თათია', 'ლამზირა']
# print(len(GNames))
# ბიჭების სახელების სიმრავლე: 40 ჩანაწერი
BNames = ['ალეკო', 'ალიკა', 'ამირან', 'ანდრია', 'არჩილი', 'ასლანი', 'ბაჩუკი', 'ბექა',
'გიგა', 'გიორგი', 'დავითი', 'გიგი', 'გოგა', 'დათა', 'ერეკლე', 'თემური', 'იაკობ',
'ილია', 'ირაკლი', 'ლადო']

In [56]:
import random

In [72]:
for i in range(15):
  comm = """
  insert into person(Lastname, FirstName, Age)
  values(?, ?, ?)
  """

  cur.execute(comm, (random.choice(LNames), random.choice([random.choice(GNames), random.choice(BNames)]), random.choice(range(20,80))))

In [73]:
comm = """ select * from person """
Stud_List = cur.execute(comm).fetchall()
# Stud_List = curs.execute(comm).fetchone()
Stud_List

[(1, 'კვარაცხელია', 'ეკა', 56),
 (2, 'ვარდიძე', 'ლამზირა', 76),
 (3, 'კაპანაძე', 'ალეკო', 75),
 (4, 'ბაძაღუა', 'გვანცა', 55),
 (5, 'აბაშიძე', 'ანუკი', 65),
 (6, 'ბაძაღუა', 'ბარბარე', 77),
 (7, 'გოცირიძე', 'ალიკა', 24),
 (8, 'დალაქიშვილი', 'დიანა', 31),
 (9, 'კვინიკაძე', 'ალიკა', 67),
 (10, 'გვენცაძე', 'დიანა', 29),
 (11, 'აბაშიძე', 'თემური', 62),
 (12, 'ბერიშვილი', 'ვერონიკა', 79),
 (13, 'დალაქიშვილი', 'ლადო', 44),
 (14, 'ანთიძე', 'არჩილი', 27),
 (15, 'კუსრაძე', 'გვანცა', 24),
 (16, 'კვარაცხელია', 'ვიქტორია', 72),
 (17, 'კვარაცხელია', 'თემური', 54),
 (18, 'ახალაია', 'გიგი', 42),
 (19, 'გიგაური', 'ანა', 22),
 (20, 'ზარანდია', 'გიგი', 44),
 (21, 'დალაქიშვილი', 'იაკობ', 35),
 (22, 'არჩვაძე', 'ლამზირა', 76),
 (23, 'კასრაძე', 'თემური', 42),
 (24, 'ზარანდია', 'ილია', 65),
 (25, 'გიორგაძე', 'ბექა', 75),
 (26, 'კუსრაძე', 'თემური', 38),
 (27, 'გიორგაძე', 'არჩილი', 64),
 (28, 'ბაძაღუა', 'ალიკა', 28),
 (29, 'ვარდიძე', 'თათია', 41),
 (30, 'ლაბაძე', 'თათია', 32)]