<a href="https://colab.research.google.com/github/RevazRevazashvili/TSU-python-labs/blob/main/Lab_1_intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ცარიელი ადგილები

In [ ]:
x = 5 # სწორი ფორმატი
 y = 10 # არასწორი ფორმატი - გამოყენებულია ცარიელი სივრცე

ბლოკის(ტანის) გახსნა

In [ ]:
# სწორი ფორმატი
 if x == 5:
  print("True")
 else:
  print("False")

In [ ]:
# არასწორი ფორმატი (შეცდომა)
  if x==5{
      print("True")
  }

In [ ]:
  # არასწორი ფორმატი (შეცდომა)
  if x == 5:
  print("True")
  else:
  print("False")

კომენტარი

In [ ]:
# ეს არის ერთხაზიანი კომენტარი

In [ ]:
"""
პითონის ლაბი 1

ეს არის მრავალსტრიქონიანი კომენტარი

"""

ბრჭყალები

In [ ]:
# პითონში მიღებულია როგორც ერთმაგი ბრჭყალი ისე ორმაგი

s1 = "hello"

s2 = 'world'

# ცვლადები და მონაცემთა ტიპები

In [ ]:
"""
ცვლადში ინახება მონაცემები

1. ცვლადის სახელი შეიძლება შეიცავდეს ლათინური ალფავიტის ზედა და ქვედა რეგისტრის
სიმბოლოებს, ციფრებს და ქვედა ხაზის სიმბოლოს (MyName, x_1).
2. ცვლადის სახელი არ უნდა იწყებოდეს ციფრით (25name, 3x);
3. ცვლადის სახელი არ უნდა ემთხვეოდეს Python ენაში გამოყენებულ რეზერვირებულ სიტყვას.

"""

In [ ]:
x = 10

name = "Python"

tsu_founded = 1918

In [ ]:
# შეცდომა
1_first = 1

ძირითადი მონაცემთა ტიპები

In [ ]:
# bool - ლოგიკური ტიპი

t = True
f = False
print(type(t), type(f))

<class 'bool'> <class 'bool'>

In [ ]:
"""
NoneType - ობიექტი მნიშვნელობით None (აღნიშნავს მნიშვნელობის არარსებობას). None
შეესაბამება ლოგიკურ მნიშვნელობას False -ს.
"""
print(type(None), bool(None))

<class 'NoneType'> False

In [ ]:
"""
int - მთელი რიცხვი. რიცხვის მნიშვნელობა შემოსაზღვრულია ოპერატიული მეხსიერების
მოცულობით.
"""
print(type(123456789), type(99999999999999999999))

<class 'int'> <class 'int'>

In [ ]:
"""

float

"""
print(type(1.3), type(0.99999999999999999999))

<class 'float'> <class 'float'>

In [ ]:
"""
str - როგორც string
"""

s = "This is Python lab"

s2 = str("TSU")

s3 = 'c'

print(type(s), type(s2), type(s3))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
"""
 bytes - ბაიტების არაცვალებადი მნიშვნელობა
"""
print(type(bytes('პროგრამირება Python-ზე', 'utf-8')))

<class 'bytes'>

In [ ]:
"""
bytearray - - ბაიტების შეცვლადი მიმდევრობა
"""
print(type(bytearray('პროგრამირება Python-ზე', 'utf-8')))

<class 'bytearray'>

In [ ]:
# პითონი არ არის მკაცრად ტიპიზირებული ენა, ცვლაადის გამოცხადება მნიშვნელობის მინიჭების გარეშე არ შეიძლება
python

# მონაცემების შეტანა-გამოტანა

გამოტანა

In [ ]:
"""
 მონაცემების გამოსატანად გამოიყენება print() ფუნქცია, რომელსაც აქვს შემდეგი სახე

print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

* – სიმბოლო ხაზს უსვამს, რომ პარამეტრების რაოდენობა არაა შემოსაზღვრული;
objects – აღნიშნავს კონსოლში გამოსატან ობიექტს;
sep – აღნიშნავს ობიექტებს შორის გამყოფ სიმბოლოს (მაგალითად, " " - ცარიელი სიმბოლო);
end – მონაცემების გამოტანის შემდეგ გამოყენებულ სიმბოლოს (მაგალითად, „\n“)
file – აღნიშნავს, რომ სტანდარტულ გამოტანას აქვს ადგილი;
flush – აღნიშნავს შერევას. უზრუნვეყოფს დაუყოვნებლივ დაბეჭდვას ან/და ბუფერში შენახვას და გარკვეული დროის შემდგომ დაბეჭდვას

"""

In [ ]:
# ბეჭდვა
print("hello world!")

hello world!

In [ ]:
s1 = "hello"
s2 = "python"

print(s1,s2,end='\n',sep=', ')

hello, python

შეტანა

In [ ]:
# მონაცემების შესატანად გამოიყენება input() ფუნქცია, რომელსაც აქვს შემდეგი სახე

name = input("Enter name: ")
print(name)

In [ ]:
# გაჩმების პრინციპით input() ფუნქცია სტრინგს აბრუნებს, ამიტომ რიცხვის შემოსატანად საჭიროა დავუკონკრეტოთ

a = int(input("Enter integer "))
print(a)

b = float(input("Enter floating number "))
print(b)

Enter integer12
12
Enter floating number13
13.0

# ოპერატორები

In [ ]:
"""
◆ არითმეტიკული
◆ მინიჭების
◆ შედარების
◆ ლოგიკური
◆ ბიტური

"""

არითმეტიკული ოპერატორები

In [18]:
x = int(input("Enter first integer "))
y = int(input("Enter second integer "))

print(x+y) # მიმატების ოპერატორი
print(x-y) # გამოკლების ოპერატორი
print(x*y) # გამრავლების ოპერატორი
print(x/y) # გაყოფის ოპერატორი (შედეგი ნამდვილი რიცხვია)
print(x//y) # გაყოფის ოპერატორი (x გაიყოფა y-ზე და დამრგვალდება უმცირეს მთელ მნიშვნელობამდე)
print(x%y) # შეფარდების ნაშთითი წევრი
print(x**y) # ხარისხში აყვანა

Enter first integer 123
Enter second integer 10
133
113
1230
12.3
12
3
792594609605189126649

მინიჭების ოპერატორები

In [ ]:
a = 10
print(a)
a += 2
print(a)
a -= 3
print(a)
a *= 4
print(a)
a /= 7
print(a)
a //= 2
print(a)
a %= 3
print(a)
a **= 2
print(a)

შედარების ოპერატორები

In [ ]:
b = 23
print(a>b) # შედარება მეტობაზე
print(a<b)# შედარება ნაკლებობაზე
print(a==b) # შედარება ტოლობაზე
print(a!=b) # შედარება სხვაობაზე
print(a>=b) # შედარება მეტობა ან ტოლობაზე
print(a<=b) # შედარება ნაკლებობა ან ტოლობაზე
print(a is b) # შედარება ტოლობაზე
print(a is not b) # შედარება განსხვავებაზე

ლოგიკური ოპერატორები

In [ ]:
x, y, z = 5, 7, 7
print( x > y and y < z, x < y and y == z )

False True

In [ ]:
x, y, z = 5, 7, 7
print( x > y or y < z, x < y or y > z)

False True

ბიტური ოპერატორები

In [ ]:
c, d = 0b1001, 0b0101 # c-ში და d-ში ჩაწერილია ორობითი რიცხვები

In [ ]:
print(c&d) # (AND) ბიტური „და“
print(c|d) # (OR) ბიტური „ან“
print(c^d) # (XOR) გამომრიცხავი „ან“
print(~d) # (NOT) ბიტური უარყოფა
print(c >> 2) # ბიტების მიმდევრობის გადაწევა ბიტების მარჯვნივ მითითებული რაოდენობით
print(c << 3) # ბიტების მიმდევრობის გადაწევა ბიტების მარცხნივ მითითებული რაოდენობით

1
13
12
-6
2
72

პირობითი ოპერატორები

In [ ]:
# if ოპერატორი

x = int(input('Enter integer number: '))
if x % 2 == 0:
  print('Entered number is even')

Enter integer number: 1

In [ ]:
# elif ოპერატორი

x = int(input("Enter integer number: "))

if x % 5 == 0:
    print(str(x) + " mod 5 is 0")
elif x % 5 == 1:
    print(str(x) + " mod 5 is 1")
elif x % 5 == 2:
    print(str(x) + " mod 5 is 2")
elif x % 5 == 3:
    print(str(x) + " mod 5 is 3")
elif x % 5 == 4:
    print(str(x) + " mod 5 is 4")

Enter integer number: 20
20 mod 5 is 0

In [ ]:
# if-else ოპერატორი

x = int(input('Enter integer number: '))
if x % 2 == 0:
  print('Entered number is oven')
else:
  print('Entered number is odd')

Enter integer number: 20
Entered number is oven

In [ ]:
# if-elif-else ოპერატორი

x = int(input('Enter integer number: '))

if x % 5 == 0:
    print(str(x) + ' mod 5 is 0')
elif x % 5 == 1:
    print(str(x) + ' mod 5 is 1')
elif x % 5 == 2:
    print(str(x) + ' mod 5 is 2')
elif x % 5 == 3:
    print(str(x) + ' mod 5 is 3')
else:
    print(str(x) + ' mod 5 is 4')

ციკლის ოპერატორები

In [ ]:
# for ციკლი

st = input('Enter string: ')
for s in st:
  print(s, end=' ')

In [ ]:
# while ციკლი

arr = [1,2,3,4,5,6,7,8]
i = 0 # ციკლის მთვლელი
while i < len(arr): # ციკლის შეჩერების პირობა
 print( arr[i], end =' ' )
 i += 1 # გავზარდოთ მთვლელი 1-ით

1 2 3 4 5 6 7 8

In [ ]:
# range() ფუნქციის გამოყენება

for x in range(1, 11):
 print(x ** 2, end=' ')

In [ ]:
# enumerate() ფუნქციის გამოყენება

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for ind, elem in enumerate(arr):
 if elem % 2 == 0:
    arr[ind] **= 2
print(arr, end=" " )

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [ ]:
# ციკლში continue ოპერატორის გამოყენება

arr = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
for i in range(11):
 if arr[i] % 3 is 0:
  continue # გამოვტოვოთ იტერაცია
 if arr[i] % 3 is 1: # თუ ნაშთი 1-ია
  arr[i] *= 2 # გავაორმაგოთ ელემენტი
  continue # გამოვტოვოთ იტერაცია
 if arr[i] % 3 is 2: # თუ ნაშთი 2-ია
  arr[i] *= 3 # გავასამმაგოთ ელემენტი
print(arr) # დავბეჭდოთ სიმრავლის ელემენტები

In [ ]:
# ციკლში break ოპერატორის გამოყენება

arr = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
size = len(arr) # გავიგოთ სიმრავლეში ელემენტების რაოდენობა
for ind in range(size): # დავატრიალოთ ციკლი
  print(ind)
  if arr[ind] == 14: # შევამოწმოთ მნიშვნელობის არსებობა
    break # შევაჩეროთ ციკლის შესრულება
  if size != ind: # თუ ინდექსის მნიშვნელობა არ ემთხვევა ზომას ეს
    print("Element exist") # ნიშნავს, რომ ობიექტი გვყავს სიმრავლეში
  else: # წინააღმდეგ შემთხვევაში ელემენტი არ იძებნება სიმრავლეში
    print("Element not exist")

# სავარჯიშოები

1. დაწერეთ კოდი (კალკულატორი), რომელიც გამოითვლის და დაბეჭდავს კლავიატურიდან
შეტანილი ორი მთელი რიცხვისა და არითმეტიკული მოქმედების შესაბამისი სიმბოლოსთვის
არითმეტიკული მოქმედების შედეგს.

2. დაწერეთ კოდი, რომელიც გამოითვლის და დაბეჭდავს [20, 50] შუალედიდან აღებული ყველა
7-ის ჯერადი მთელი რიცხვის კუბების ნამრავლს.

6. დაწერეთ კოდი, რომელიც გამოითვლის და დაბეჭდავს [1000, 10000] შუალედიდან აღებული
ისეთი რიცხვების საშუალო არითმეტიკულს, რომელთა ციფრების ჯამი არის 7-ის ჯერადი;

In [25]:
ar_sum = 0
counter = 0
k = 10

for i in range(1000, 10000):
    a = i
    sum = 0
    for j in range(4):
        if a == 0:
            continue
        else:
            sum += a % k
        a = a // k

    if sum % 7 == 0:
        ar_sum += sum
        counter += 1

if counter > 0:
    print(ar_sum / counter)
else:
    print("No valid values found.")

18.48829953198128

8. დაწერეთ კოდი, რომელიც გამოითვლის და დაბეჭდავს [500, 5000] შუალედიდან აღებული 17,
29, 43 და 97-ის ჯერადი რიცხვების საშუალო არითმეტიკულს

13. დაწერეთ პროგრამა, რომელიც მომხმარებლის მიერ კლავიატურიდან შეტანილი სამი
ნამდვილი მნიშვნელობისთვის დაითვლის და დაბეჭდავს შესაბამისი მართკუთხა
სამკუთხედის ფართობს (ასეთის არსებობის შემთხვევაში). პროგრამამ უნდა შეამოწმოს
არსებობს თუ არა მომხმარებლის მიერ შეტანილი ნამდვილი მნიშვნელობების შესაბამისი
გვერდების მქონე მართკუთხა სამკუთხედი. თუ ასეთი სამკუთხედი არ არსებობს, მაშინ
დაბეჭდოს შესაბამისი შეტყობინება

16. დაწერეთ პროგრამა, რომელიც დაითვლის მომხმარებლის მიერ კლავიატურიდან შეტანილი
სამი ნამდვილი მნიშვნელობისათვის დაითვლის შესაბამისი კოეფიციენტების მქონე
კვადრატული განტოლების ფესვებს და მათ რაოდენობას. თუ განტოლებას ფესვი არ გააჩნია,
პროგრამამ უნდა დაბეჭდოს შესაბამისი შეტყობინება