<a href="https://colab.research.google.com/github/RevazRevazashvili/TSU-python-labs/blob/main/Lab_1_intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ცარიელი ადგილები

In [ ]:
x = 5 # სწორი ფორმატი
 y = 10 # არასწორი ფორმატი - გამოყენებულია ცარიელი სივრცე

ბლოკის(ტანის) გახსნა

In [ ]:
# სწორი ფორმატი
 if x == 5:
  print("True")
 else:
  print("False")

In [ ]:
# არასწორი ფორმატი (შეცდომა)
  if x==5{
      print("True")
  }

In [ ]:
  # არასწორი ფორმატი (შეცდომა)
  if x == 5:
  print("True")
  else:
  print("False")

კომენტარი

In [ ]:
# ეს არის ერთხაზიანი კომენტარი

In [ ]:
"""
პითონის ლაბი 1

ეს არის მრავალსტრიქონიანი კომენტარი

"""

ბრჭყალები

In [ ]:
# პითონში მიღებულია როგორც ერთმაგი ბრჭყალი ისე ორმაგი

s1 = "hello"

s2 = 'world'

# ცვლადები და მონაცემთა ტიპები

In [ ]:
"""
ცვლადში ინახება მონაცემები

1. ცვლადის სახელი შეიძლება შეიცავდეს ლათინური ალფავიტის ზედა და ქვედა რეგისტრის
სიმბოლოებს, ციფრებს და ქვედა ხაზის სიმბოლოს (MyName, x_1).
2. ცვლადის სახელი არ უნდა იწყებოდეს ციფრით (25name, 3x);
3. ცვლადის სახელი არ უნდა ემთხვეოდეს Python ენაში გამოყენებულ რეზერვირებულ სიტყვას.

"""

In [ ]:
x = 10

name = "Python"

tsu_founded = 1918

In [ ]:
# შეცდომა
1_first = 1

ძირითადი მონაცემთა ტიპები

In [ ]:
# bool - ლოგიკური ტიპი

t = True
f = False
print(type(t), type(f))

<class 'bool'> <class 'bool'>

In [ ]:
"""
NoneType - ობიექტი მნიშვნელობით None (აღნიშნავს მნიშვნელობის არარსებობას). None
შეესაბამება ლოგიკურ მნიშვნელობას False -ს.
"""
print(type(None), bool(None))

<class 'NoneType'> False

In [ ]:
"""
int - მთელი რიცხვი. რიცხვის მნიშვნელობა შემოსაზღვრულია ოპერატიული მეხსიერების
მოცულობით.
"""
print(type(123456789), type(99999999999999999999))

<class 'int'> <class 'int'>

In [ ]:
"""

float

"""
print(type(1.3), type(0.99999999999999999999))

<class 'float'> <class 'float'>

In [ ]:
"""
str - როგორც string
"""

s = "This is Python lab"

s2 = str("TSU")

s3 = 'c'

print(type(s), type(s2), type(s3))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
"""
 bytes - ბაიტების არაცვალებადი მნიშვნელობა
"""
print(type(bytes('პროგრამირება Python-ზე', 'utf-8')))

<class 'bytes'>

In [ ]:
"""
bytearray - - ბაიტების შეცვლადი მიმდევრობა
"""
print(type(bytearray('პროგრამირება Python-ზე', 'utf-8')))

<class 'bytearray'>

In [10]:
# პითონი არ არის მკაცრად ტიპიზირებული ენა, ცვლაადის გამოცხადება მნიშვნელობის მინიჭების გარეშე არ შეიძლება
python

NameError: name 'python' is not defined

# მონაცემების შეტანა-გამოტანა

გამოტანა

In [ ]:
"""
 მონაცემების გამოსატანად გამოიყენება print() ფუნქცია, რომელსაც აქვს შემდეგი სახე

print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

* – სიმბოლო ხაზს უსვამს, რომ პარამეტრების რაოდენობა არაა შემოსაზღვრული;
objects – აღნიშნავს კონსოლში გამოსატან ობიექტს;
sep – აღნიშნავს ობიექტებს შორის გამყოფ სიმბოლოს (მაგალითად, " " - ცარიელი სიმბოლო);
end – მონაცემების გამოტანის შემდეგ გამოყენებულ სიმბოლოს (მაგალითად, „\n“)
file – აღნიშნავს, რომ სტანდარტულ გამოტანას აქვს ადგილი;
flush – აღნიშნავს შერევას. უზრუნვეყოფს დაუყოვნებლივ დაბეჭდვას ან/და ბუფერში შენახვას და გარკვეული დროის შემდგომ დაბეჭდვას

"""

In [ ]:
# ბეჭდვა
print("hello world!")

hello world!

In [ ]:
s1 = "hello"
s2 = "python"

print(s1,s2,end='\n',sep=', ')

hello, python

შეტანა

In [ ]:
# მონაცემების შესატანად გამოიყენება input() ფუნქცია, რომელსაც აქვს შემდეგი სახე

name = input("Enter name: ")
print(name)

In [11]:
# გაჩმების პრინციპით input() ფუნქცია სტრინგს აბრუნებს, ამიტომ რიცხვის შემოსატანად საჭიროა დავუკონკრეტოთ

a = int(input("Enter integer "))
print(a)

b = float(input("Enter floating number "))
print(b)

Enter integer 12
12
Enter floating number 45
45.0

# ოპერატორები

In [ ]:
"""
◆ არითმეტიკული
◆ მინიჭების
◆ შედარების
◆ ლოგიკური
◆ ბიტური

"""

არითმეტიკული ოპერატორები

In [12]:
x = int(input("Enter first integer "))
y = int(input("Enter second integer "))

print(x+y) # მიმატების ოპერატორი
print(x-y) # გამოკლების ოპერატორი
print(x*y) # გამრავლების ოპერატორი
print(x/y) # გაყოფის ოპერატორი (შედეგი ნამდვილი რიცხვია)
print(x//y) # გაყოფის ოპერატორი (x გაიყოფა y-ზე და დამრგვალდება უმცირეს მთელ მნიშვნელობამდე)
print(x%y) # შეფარდების ნაშთითი წევრი
print(x**y) # ხარისხში აყვანა

Enter first integer 45
Enter second integer 3
48
42
135
15.0
15
0
91125

მინიჭების ოპერატორები

In [13]:
a = 10
print(a)
a += 2
print(a)
a -= 3
print(a)
a *= 4
print(a)
a /= 7
print(a)
a //= 2
print(a)
a %= 3
print(a)
a **= 2
print(a)

10
12
9
36
5.142857142857143
2.0
2.0
4.0

შედარების ოპერატორები

In [ ]:
b = 23
print(a>b) # შედარება მეტობაზე
print(a<b)# შედარება ნაკლებობაზე
print(a==b) # შედარება ტოლობაზე
print(a!=b) # შედარება სხვაობაზე
print(a>=b) # შედარება მეტობა ან ტოლობაზე
print(a<=b) # შედარება ნაკლებობა ან ტოლობაზე
print(a is b) # შედარება ტოლობაზე
print(a is not b) # შედარება განსხვავებაზე

ლოგიკური ოპერატორები

In [ ]:
x, y, z = 5, 7, 7
print( x > y and y < z, x < y and y == z )

False True

In [ ]:
x, y, z = 5, 7, 7
print( x > y or y < z, x < y or y > z)

False True

ბიტური ოპერატორები

In [ ]:
c, d = 0b1001, 0b0101 # c-ში და d-ში ჩაწერილია ორობითი რიცხვები

In [ ]:
print(c&d) # (AND) ბიტური „და“
print(c|d) # (OR) ბიტური „ან“
print(c^d) # (XOR) გამომრიცხავი „ან“
print(~d) # (NOT) ბიტური უარყოფა
print(c >> 2) # ბიტების მიმდევრობის გადაწევა ბიტების მარჯვნივ მითითებული რაოდენობით
print(c << 3) # ბიტების მიმდევრობის გადაწევა ბიტების მარცხნივ მითითებული რაოდენობით

1
13
12
-6
2
72

პირობითი ოპერატორები

In [14]:
# if ოპერატორი

x = int(input('Enter integer number: '))
if x % 2 == 0:
  print('Entered number is even')

Enter integer number: 8
Entered number is even

In [16]:
# elif ოპერატორი

x = int(input("Enter integer number: "))

if x % 5 == 0:
    print(str(x) + " mod 5 is 0")
elif x % 5 == 1:
    print(str(x) + " mod 5 is 1")
elif x % 5 == 2:
    print(str(x) + " mod 5 is 2")
elif x % 5 == 3:
    print(str(x) + " mod 5 is 3")
elif x % 5 == 4:
    print(str(x) + " mod 5 is 4")

Enter integer number: 48
48 mod 5 is 3

In [ ]:
# if-else ოპერატორი

x = int(input('Enter integer number: '))
if x % 2 == 0:
  print('Entered number is oven')
else:
  print('Entered number is odd')

Enter integer number: 20
Entered number is oven

In [ ]:
# if-elif-else ოპერატორი

x = int(input('Enter integer number: '))

if x % 5 == 0:
    print(str(x) + ' mod 5 is 0')
elif x % 5 == 1:
    print(str(x) + ' mod 5 is 1')
elif x % 5 == 2:
    print(str(x) + ' mod 5 is 2')
elif x % 5 == 3:
    print(str(x) + ' mod 5 is 3')
else:
    print(str(x) + ' mod 5 is 4')

ციკლის ოპერატორები

In [18]:
# for ციკლი

st = input('Enter string: ')
for s in st:
  print(s)

Enter string: gvjvhb
g
v
j
v
h
b

In [19]:
# while ციკლი

arr = [1,2,3,4,5,6,7,8]
i = 0 # ციკლის მთვლელი
while i < len(arr): # ციკლის შეჩერების პირობა
 print( arr[i], end =' ' )
 i += 1 # გავზარდოთ მთვლელი 1-ით

1 2 3 4 5 6 7 8

In [21]:
# range() ფუნქციის გამოყენება

for x in range(1, 11):
 print(x ** 2, end=' ')

1 4 9 16 25 36 49 64 81 100

In [22]:
# enumerate() ფუნქციის გამოყენება

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for ind, elem in enumerate(arr):
 if elem % 2 == 0:
    arr[ind] **= 2
print(arr, end=" " )

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [24]:
# ციკლში continue ოპერატორის გამოყენება

arr = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
for i in range(11):
 if arr[i] % 3 == 0:
  continue # გამოვტოვოთ იტერაცია
 if arr[i] % 3 == 1: # თუ ნაშთი 1-ია
  arr[i] *= 2 # გავაორმაგოთ ელემენტი
  continue # გამოვტოვოთ იტერაცია
 if arr[i] % 3 == 2: # თუ ნაშთი 2-ია
  arr[i] *= 3 # გავასამმაგოთ ელემენტი
print(arr) # დავბეჭდოთ სიმრავლის ელემენტები

[20, 33, 12, 26, 42, 15, 32, 51, 18, 38, 60]

In [25]:
# ციკლში break ოპერატორის გამოყენება

arr = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
size = len(arr) # გავიგოთ სიმრავლეში ელემენტების რაოდენობა
for ind in range(size): # დავატრიალოთ ციკლი
  print(ind)
  if arr[ind] == 14: # შევამოწმოთ მნიშვნელობის არსებობა
    break # შევაჩეროთ ციკლის შესრულება
  if size != ind: # თუ ინდექსის მნიშვნელობა არ ემთხვევა ზომას ეს
    print("Element exist") # ნიშნავს, რომ ობიექტი გვყავს სიმრავლეში
  else: # წინააღმდეგ შემთხვევაში ელემენტი არ იძებნება სიმრავლეში
    print("Element not exist")

0
Element exist
1
Element exist
2
Element exist
3
Element exist
4

# სავარჯიშოები

1. დაწერეთ კოდი (კალკულატორი), რომელიც გამოითვლის და დაბეჭდავს კლავიატურიდან
შეტანილი ორი მთელი რიცხვისა და არითმეტიკული მოქმედების შესაბამისი სიმბოლოსთვის
არითმეტიკული მოქმედების შედეგს.

In [34]:
num1: int = int(input("Enter first number: "))
num2: int = int(input("Enter second number: "))
operation: str = input("Enter operation(+ - * / %): ")
if operation == "+":
  print(num1 + num2)
elif operation == "-":
  print(num1 - num2)
elif operation == "*":
  print(num1 * num2)
elif operation == "/" and num2 != 0:
  print(num1 / num2)
elif operation == "%":
  print(num1 % num2)
else:
  print("Invalid operation")

Enter first number: 12
Enter second number: 1
Enter operation(+ - * / %): -
11

2. დაწერეთ კოდი, რომელიც გამოითვლის და დაბეჭდავს [20, 50] შუალედიდან აღებული ყველა
7-ის ჯერადი მთელი რიცხვის კუბების ნამრავლს.

In [36]:
multiply: int = 1
for i in range(20, 51):
  if i % 7 == 0:
    print(i, i ** 3)
    multiply *= i ** 3
  else:
    continue
print(multiply)

21 9261
28 21952
35 42875
42 74088
49 117649
75975264824109908544000

6. დაწერეთ კოდი, რომელიც გამოითვლის და დაბეჭდავს [1000, 10000] შუალედიდან აღებული
ისეთი რიცხვების საშუალო არითმეტიკულს, რომელთა ციფრების ჯამი არის 7-ის ჯერადი;

In [37]:
numbers: list[int] = []
for i in range(1000, 100001):
  num_sum: int = 0
  for j in str(i):
    num_sum += int(i)
  if num_sum % 7 == 0:
    numbers.append(num_sum)
print(sum(numbers) / len(numbers))

251990.03033302695

8. დაწერეთ კოდი, რომელიც გამოითვლის და დაბეჭდავს [500, 5000] შუალედიდან აღებული 17,
29, 43 და 97-ის ჯერადი რიცხვების საშუალო არითმეტიკულს

In [38]:
numbers: list[int] = []
for i in range(500, 50001):
  if i % 17 == 0 or i % 29 == 0 or i % 43 == 0 or i % 97 == 0:
    numbers.append(i)
print(sum(numbers) / len(numbers))

25254.640684726608

13. დაწერეთ პროგრამა, რომელიც მომხმარებლის მიერ კლავიატურიდან შეტანილი სამი
ნამდვილი მნიშვნელობისთვის დაითვლის და დაბეჭდავს შესაბამისი მართკუთხა
სამკუთხედის ფართობს (ასეთის არსებობის შემთხვევაში). პროგრამამ უნდა შეამოწმოს
არსებობს თუ არა მომხმარებლის მიერ შეტანილი ნამდვილი მნიშვნელობების შესაბამისი
გვერდების მქონე მართკუთხა სამკუთხედი. თუ ასეთი სამკუთხედი არ არსებობს, მაშინ
დაბეჭდოს შესაბამისი შეტყობინება

In [40]:
side1: int = int(input("Enter first side: "))
side2: int = int(input("Enter second side: "))
hipotenuza: int = int(input("Enter third side(hipotenuza): "))
if (side1 ** 2 + side2 ** 2 != hipotenuza ** 2):
  print("invalid triangle")
else:
  s: float = (side1 * side2) / 2
  print(f"Area is {s}")

Enter first side: 3
Enter second side: 4
Enter third side(hipotenuza): 5
Area is 6.0

16. დაწერეთ პროგრამა, რომელიც დაითვლის მომხმარებლის მიერ კლავიატურიდან შეტანილი
სამი ნამდვილი მნიშვნელობისათვის დაითვლის შესაბამისი კოეფიციენტების მქონე
კვადრატული განტოლების ფესვებს და მათ რაოდენობას. თუ განტოლებას ფესვი არ გააჩნია,
პროგრამამ უნდა დაბეჭდოს შესაბამისი შეტყობინება

In [43]:
from math import sqrt
a: int = int(input("Enter a: "))
b: int = int(input("Enter b: "))
c: int = int(input("Enter c: "))
d: int = b ** 2 - 4 * a * c
if d < 0:
  print("this equation doesn't have solution")
else:
  x1: float = (-b + sqrt(d)) / 2 * a
  x2: float = (-b - sqrt(d)) / 2 * a
  print(f"x1 = {round(x1,1)}, x2 = {round(x2,1)}")

Enter a: 1
Enter b: 6
Enter c: 2
x1 = -0.4, x2 = -5.6